.about {
  display: flex;
  justify-content: center;
}

.about section {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 10% 0 0 0;
}

.about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about div {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 5%;
  width: 60%;
}

.about p {
  font-size: 1.1em;
  margin: 0 0 20px 0;
}