.CollectionDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CollectionDetail section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CollectionDetail div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 70%;
}

.CollectionDetail img {
  width: 25%;
  border: 2px solid rgb(196,198,199);
  margin: 1%;
}

.CollectionDetail section {
  width: 50%;
  display: flex;
  justify-content: center;
}

.CollectionDetail h2 {
  margin: 0;
  font-size: 2.5em;
  padding: 4% 0 0 0;
}

.CollectionDetail h3 {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  padding: 0 0 1.35% 0;
}

@media only screen and (max-width: 768px) {

  .CollectionDetail img {
    width: 80%;
    margin: 3%;
  }

  .CollectionDetail h2 {
    font-size: 2em;
  }

  .CollectionDetail h3 {
    font-size: 1.2em;
  }

}
