.collections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collections section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  padding: 2% 0 0 0;
}

.collections div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:fit-content;
  padding: 5%;
}

.collections h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 6% 0 0 0;
}

.collections a {
  width: 25%;
  display: flex;
  justify-content: center;
}

.collections img {
  width: 100%;
  border: 2px solid rgb(196,198,199);
  margin: 1%;
}

.collections a:hover, .collections img:hover {
  opacity: .65;
  box-shadow: 0 10px 20px rgb(205, 204, 199);
}

.collections h3 {
  font-size: 1.25em;
  font-weight: 300;
  margin: 0;
  width: fit-content;
}

@media only screen and (max-width: 768px) {


.collections section {
  flex-direction: column;
}

.collections a {
  width: 80%;
}

}