.collections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collections section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 2% 0 0 0;
}

.collections article {
  width: fit-content;
}

.collections h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 6% 0 0 0;
}

.collections img {
  width: 25%;
  border: 2px solid rgb(196,198,199);
  margin: 1%;
}

.collections h3 {
  font-size: 1.25em;
  font-weight: 300;
  margin: 1.5% 0 0 0;
  width: fit-content;
}