nav {
  color: rgb(108, 108, 103);
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  padding: 2% 2% 0 0;
}

@media only screen and (max-width: 768px) {

  ul {
    display: flex;
    flex-direction: column;
  }

}