html {
  box-sizing: border-box;
  margin: 0;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: rgb(205, 204, 199);
  --text-color:  rgb(108, 108, 103);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 200;
  font-size: 3em;
  color: rgb(108, 108, 103);
  margin: 0 0 0 14%;
  padding: 3% 0 0 0;
}

h2 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 200;
  font-size: 2em;
  color: rgb(108, 108, 103);
  margin: 0 0 0 14%;
  padding: 3% 0 0 0;
}

a, h1 {
  text-decoration: none;
  color: rgb(108, 108, 103);
}

li {
  list-style: none;
  font-size: 1.25em;
}